/* FONTS */

@font-face {
    font-display: swap; 
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/be-vietnam-pro-v11-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/be-vietnam-pro-v11-latin-500.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/be-vietnam-pro-v11-latin-700.woff2') format('woff2'); 
}

*{
    box-sizing: border-box;
}

img{
    vertical-align: middle;
}

.visually-hidden{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container{
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

a{
    display: inline-block;
    text-decoration: none;
}

ul,
ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Be Vietnam Pro", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-image: url(../images/something.png);
    background-repeat: no-repeat;
    background-position: right top;
}

.site-main{
    flex-grow: 1;
}

/* HEADER STARTED */

.site-header {
    width: 100%;
    padding-top: 32px;
}

.site-header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header__menu {
    background-image: url(../images/menu.svg);
    background-color: transparent;
    border: transparent;
    background-repeat: no-repeat;
    width: 25px;
    height: 18px;
}

.site-header__nav {
    display: none;
}

.site-header__sublink {
    display: none;
}

@media only screen and (min-width:790px) {
    body {
        background-image: url(../images/something2.png);
    }
    
    .site-header__menu {
        display: none;
    }
    
    .site-header__nav {
        display: flex;
        align-items: center;
    }
    
    .site-header__list {
        display: flex;
        gap: 20px;
    }
    
    .site-header__link {
        color: #242D52;
        font-size: 13px;
        font-weight: 500;
        line-height: normal;
    }
    
    .site-header__sublink {
        display: block;
        color: #FCF6F5;
        font-size: 13px;
        font-weight: 700;
        line-height: normal;
        width: 137px;
        padding: 12px 13px;
        background-color: #F3603C;
        text-align: center;
        border-radius: 20px;
    }
}

/* HEADER ENDED */

/* HERO SECTION STARTED */

.hero {
    padding: 48px 0 62px;
}

.hero__img {
    display: block;
    margin: 0 auto;
    margin-bottom: 19px;
}

.hero__img2 {
    display: none;
}

.hero__title {
    margin: 0;
    margin-bottom: 9px;
    color: #242D52;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -1px;
}

.hero__text {
    margin: 0;
    margin-bottom: 29px;
    color: #242D52;
    opacity: 0.5025;
    text-align: center;
    font-family: Be Vietnam;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
}

.hero__sublink {
    display: block;
    margin: 0 auto;
    color: #FCF6F5;
    font-size: 13px;
    font-weight: 700;
    line-height: normal;
    width: 137px;
    padding: 12px 13px;
    background-color: #F3603C;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 93px;
}


@media only screen and (min-width:800px) {
    .hero__img {
        display: none;
    }
    
    .hero__img2 {
        display: block;
    }
    
    .hero__title-wrapper {
        width: 600px;
        margin: 0 auto;
    }
}

@media only screen and (min-width:885px) {    
    .hero__list {
        gap: 45px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .hero__item {
        width: 50%;
        max-width: 400px;
    }
    
    .hero__text-wrapper {
        width: 600px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
}

@media only screen and (min-width:1080px) {
    .about {
        background-image: url(../images/something3.png);
        background-repeat: no-repeat;
        background-position: left top 250px;
    }
    
    .hero__inner {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 132px;
    }

    .hero__title-wrapper {
        margin-bottom: 16px;
    }
    
    .hero__title {
        text-align: left;
        font-size: 56px;
    }
    
    .hero__text-wrapper {
        width: 290px;
        margin-left: 0;
    }
    
    .hero__text {
        text-align: left;
    }
    
    .hero__sublink {
        margin-left: 0;
    }
}

/* HERO SECTION ENDED */

/* ABOUT SECTION STARTED */

.about {
    padding-bottom: 140px;
}

.about__subtitle {
    margin: 0;
    margin-bottom: 13px;
    color: #242D52;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    line-height: 45px;
    letter-spacing: -0.619px;
}

.about__subtext {
    color: #242D52;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.5025;
}

.about__list {
    display: flex;
    flex-direction: column;
}

.about__item:not(:last-child) {
    margin-bottom: 47px;
}

.about__wrapper2 {
    margin-bottom: 8px;
    display: flex;
    gap: 15px;
    align-items: center;
    border-top-left-radius: 39px;
    border-bottom-left-radius: 39px;
    background-color: #FFF0EC;
}

.about__span {
    display: inline-block;
    padding: 10px 0;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.286px;
    width: 67px;
    border-radius: 39px;
    background-color: #F3603C;
}

.about__heading {
    margin: 0;
    color: #242D52;
    font-size: 15px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.286px;
}

.about__desc {
    margin: 0;
    color: #242D52;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.5025;
}

@media only screen and (min-width:885px) {    
    .hero__list {
        gap: 45px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .hero__item {
        width: 50%;
        max-width: 400px;
    }
}

@media only screen and (min-width:1080px) {
    .about__inner {
        display: flex;
        justify-content: space-between;
    }
    
    .about__bottom-wrapper {
        width: 410px;
    } 

    .about__item:not(:last-child) {
        margin-bottom: 0;
    }

    .about__wrapper2 {
        background-color: #FFF;
        width: 500px;
    }

    .about__subtext {
        text-align: left;
    }
    
    .about__subtitle {
        text-align: left;
        font-size: 40px;
    }
    
    .about__list {
        gap: 16px;
    }
    
    .about__title-wrapper {
        width: 500px;
    }
        
    .about__text-wrapper {
        margin-left: 0;
        width: 320px;
    } 
}

/* ABOUT SECTION ENDED */